*{
    padding: 0;
    margin: 0%;
}
.xx{
    padding-left: 400px;
    z-index: 55;
    margin: 0%;
    display: block;
    justify-content: space-around;
    justify-content: space-between;
    background: rgb(239, 239, 239);
}